@import "tailwindcss";

@theme {
  --color-kiwi-green: #88e23b;
  --color-texas: #ebe480;
  --color-tardis-blue: #043c6e;
  --color-endo: #60a85f;
  --color-mystery: #a6cccc;
  --color-calla-green: #6b7132;
  --color-green1: #6ad79b;
}


html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
